*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto ;
    background-color: bisque;
    height: 100vh;
    color: black;
}
.go-back{
    margin-top: 2em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 25%;
    color: black;

    border: 1px solid red;
}