*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}
.heading > h1{
    margin: auto;
}
.image{
    display: block;
    width: 30%;
    border-radius: 10%;
    /* border: 1px solid white; */
    background-color: white;
}