.repoHeading {
  display: flex;
  align-items: center;
}
.heading{
  display: flex;
    margin-top: 2em;
    padding: 1em;
    align-items: center;
}
.header {
  margin: auto;
  color: white;
}
.details, .time {
  display: flex;
  align-items: center;
  width: 60%;
  /* border: 1px solid red; */
  justify-content: space-between;
  padding-top: 1em;
  margin: auto;
}
.time {
  font-size: 14px;
  display: block;
}
.main{
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}
.navi{
  text-align: center;
}
.visibility {
  border: 1px solid #bababa;
  padding: 0.5em 1em;
  border-radius: 1em;
  font-size: 12px;
  color: white;
}
.pagination{
  background-color: white;
  border: none;
  padding: 1em;
  border-radius: 0.2rem;
  margin-top: 2em;
  margin-right: 0.5em;
}
.pages{
  margin-right: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
.repo-btn{
  border: none;
  padding: 1em;
  color: black;
}
.view{
  background-color: white;
  border: none;
  padding: 1em;
  font-size: 1em;
  margin-top: 1em;
  border-radius: 0.3em;
}
